<section class="widgets">
    <a class="acc-anchor" data-tooltip="Create Poll" data-action="createPoll">
        <i class="acc-icon --s {{accIconClass 'poll'}}">
        </i>
    </a>
    <a class="acc-anchor" data-tooltip="Refresh" data-action="refresh">
        <i class="acc-icon --s {{accIconClass 'refresh'}}">
        </i>
    </a>
</section>
